{%- import 'components.svg.jinja' as components -%}
{% extends 'four-col-base.svg.jinja' %}

{% block cell_0_0 %}
    {{ components.sm_text(icons.sunny, "Test") }}
{% endblock %}

{% block cell_3_2 %}
    {{ components.sm_text(icons.sunny, "Test") }}
{% endblock %}

{% block footer %}
    {{ super() }}
    {% block icon %}
        {{ icons.cloud }}
    {% endblock icon %}
    {% block primary %}Test{% endblock primary %}
{% endblock footer %}